@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    color: $text-color-light;
}

body {
    min-height: 100vh;
    &.pomodoro {
        background-color: $pomodoro-color;
    }
    &.short {
        background-color: $short-color;
    }
    &.long {
        background-color: $long-color;
    }
}

.container,
.container-main {
    max-width: 50%;
    margin: 0 auto;
}

.container-main {
    max-width: 60%;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    color: $text-color-dark;
    background-color: $btn-color;
    border: 0;
    border-radius: 5px;
    &:hover {
        background-color: lighten($btn-color, 10%);
        color: darken($text-color-dark, 10%);
    }
}
