@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    color: $text-color-light;
}

body {
    min-height: 100vh;
    transition: background-color 0.3s;
    &.pomodoro {
        background-image: linear-gradient(
            to right,
            darken($pomodoro-color, $shade),
            lighten($pomodoro-color, $shade)
        );
    }
    &.short {
        background-image: linear-gradient(
            to right,
            darken($short-color, $shade),
            lighten($short-color, $shade)
        );
    }
    &.long {
        background-image: linear-gradient(
            to right,
            darken($long-color, $shade),
            lighten($long-color, $shade)
        );
    }
}

.container,
.container-main {
    max-width: 50%;
    margin: 0 auto;
}

.container-main {
    max-width: 60%;
}

.tick {
    text-align: center;
    background-color: $text-color-light;
    border-radius: 50%;
}

.hidden {
    display: none;
}

.rotatable {
    animation: rotate 0.3s ease-out 1 forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
