.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    color: $text-color-dark;
    background-color: $btn-color;
    border: 0;
    border-radius: 5px;
    &:hover {
        background-color: lighten($btn-color, $shade);
        color: darken($text-color-dark, $shade);
    }
}
