.desc {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-color-dark;
    &__number {
        font-size: 1.6rem;
    }
    &__name {
        font-size: 1.9rem;
    }
}
