.timer {
    margin-top: 10%;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: rgba($text-color-dark, 0.3);
    &__tabs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }
    &__tab {
        width: calc(100% / 3);
        font-size: 2rem;
        padding: 1rem 2rem;
        text-align: center;
        cursor: pointer;
        &--active {
            border-bottom: 3px solid rgba($text-color-dark, 0.7);
        }
        &:not(.timer__tab--active):hover {
            border-bottom: 3px solid rgba($text-color-dark, 0.2);
        }
    }
    &__time {
        text-align: center;
        font-size: 10rem;
        font-weight: 600;
    }

    &__btn {
        padding: 1rem 4em;
        margin: 0 auto;
        background-color: $text-color-light;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
}
