.timer {
    margin-top: 10%;
    padding: 3rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: rgba($text-color-dark, 0.3);
    border-radius: 5px;
    box-shadow: $shadow;
    &__tabs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }
    &__tab {
        width: calc(100% / 3);
        font-size: 2rem;
        padding: 1rem 2rem;
        text-align: center;
        cursor: pointer;
        &--active {
            border-bottom: 3px solid rgba($text-color-dark, 0.7);
        }
        &:not(.timer__tab--active):hover {
            border-bottom: 3px solid rgba($text-color-dark, 0.2);
        }
    }
    &__time {
        text-align: center;
        font-size: 10rem;
        font-weight: 600;
    }
    &__buttons {
        width: 50%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 5fr 1fr;
        justify-items: center;
        gap: 2rem;
    }
    &__btn {
        min-width: 28rem;
        padding: 1rem 4em;
        background-color: $text-color-light;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    &__reset {
        background-color: transparent;
    }
    &__reset:hover {
        background-color: transparent;
    }
}
