$text-color-light: #fef2f2;
$text-color-dark: #450a0a;
$pomodoro-color: #f87171;
$short-color: #34d399;
$long-color: #38bdf8;

$btn-color: rgba(244, 244, 245, 0.5);
$shadow: 2px 4px 7px rgba(9, 9, 11, 0.2);
