$text-color-light: #fef2f2;
$text-color-dark: #450a0a;
$pomodoro-color: #f87171;
$short-color: #4ade80;
$long-color: #60a5fa;

$btn-color: rgba(244, 244, 245, 0.3);
$shadow: 2px 4px 7px rgba(9, 9, 11, 0.2);

$shade: 5%;
